[target.apex_p]
runner = "speculos -m apex_p"

[build]
target = "apex_p"

[profile.release]
opt-level = 'z'
lto = true

# Uncomment the line below to generate a map file
# rustflags = ["-Clink-args=-Map=app.map"]

[unstable]
build-std = ["core", "alloc"]
build-std-features = ["compiler-builtins-mem"]

# By default, heap size is enforced to 8192 bytes.
# Authorized values are [2048, 4096, 8192, 16384, 24576]
# Uncomment the following lines to set the heap size to 4096 bytes for instance
#[env]
#HEAP_SIZE = "4096"