name: Run coding style check

# This workflow will run linting checks to ensure a level of code quality among all Ledger applications.
#
# The presence of this workflow is mandatory as a minimal level of linting is required.

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - develop
  pull_request:
  
jobs:
  check_linting:
    name: Check linting using the reusable workflow
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_lint.yml@v1
    with:
      source: './src'
